---
// Extract properties from Astro.props
const { aria, dataTab, id, heading, content, first } = Astro.props;

// Define TypeScript interface for properties
interface Props {
  dataTab: string;
  id: string;
  aria: string;
  heading?: string;
  content?: string;
  first?: boolean;
}

// Define button classes
const buttonClasses = `
  w-full rounded-xl p-4 text-start focus:outline-none
  ${first ? "active" : ""}
  hover:bg-green-50 dark:hover:bg-neutral-700/50
  group-[.active]:bg-green-50 dark:group-[.active]:bg-neutral-700
  transition-all duration-300
  md:p-5
  cursor-pointer
  group
`;
---

<button
  type="button"
  class={buttonClasses}
  id={id}
  data-hs-tab={dataTab}
  aria-controls={aria}
  role="tab"
>
  <span class="flex">
    <slot />
    <span class="ms-6 grow">
      <span
        class="block text-lg font-bold text-neutral-800 group-[.active]:text-green-600 dark:text-neutral-200 dark:group-[.active]:text-green-400"
      >
        {heading}
      </span>
      <span
        class="mt-1 block text-neutral-500 group-[.active]:text-neutral-600 dark:text-neutral-400 dark:group-[.active]:text-neutral-200"
      >
        {content}
      </span>
    </span>
  </span>
</button>
