---
// Import the necessary dependencies
import { Image } from "astro:assets";
import IconBlock from "@components/ui/blocks/IconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";

interface Feature {
  heading: string;
  content: string;
  svg: string;
}

interface Props {
  title?: string;
  subTitle?: string;
  features?: Feature[];
  src?: any;
  alt?: string;
}
// Define props from Astro
const { title, subTitle, src, alt, features } = Astro.props;
---

<section
  class="mx-auto max-w-[85rem] px-4 pt-2 pb-6 sm:px-6 lg:px-8 lg:pt-4 lg:pb-8 2xl:max-w-full"
>
  <!-- Displaying the main content consisting of title, subtitle, and several `IconBlock` components -->
  <div class="mt-4 grid gap-4 lg:mt-12 lg:grid-cols-3 lg:gap-6">
    <!-- Block for title, subtitle and image -->
    <div class="lg:col-span-1">
      <!-- Rendering title -->
      <h2
        class="text-balance text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl lg:text-5xl"
      >
        {title}
      </h2>
      <!-- Rendering subtitle -->
      {
        subTitle && (
          <p class="mt-3 text-pretty text-xl text-neutral-600 dark:text-neutral-400 md:mt-4 lg:text-2xl">
            {subTitle}
          </p>
        )
      }
      <!-- Feature image -->
      {
        src && alt && (
          <div class="relative mt-6 overflow-hidden rounded-lg lg:mt-8">
            <Image
              src={src}
              alt={alt}
              class="h-full w-full object-cover object-center"
              draggable={"false"}
              format={"avif"}
              loading={"eager"}
            />
          </div>
        )
      }
    </div>

    <!-- Block to display the IconBlock components -->
    <div class="flex lg:col-span-2">
      <div class="grid flex-1 gap-6 sm:grid-cols-2 md:gap-8">
        <!-- Injecting IconBlock components with different properties -->
        {
          features &&
            features.map((feature) => (
              <IconBlock heading={feature.heading} content={feature.content}>
                <Icon name={feature.svg} />
              </IconBlock>
            ))
        }
      </div>
    </div>
  </div>
</section>
